<!-- layout:decorate 레이아웃으로 basic.html을 사용하겠다는 의미 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="board/layout/basic">
	<th:block layout:fragment="title">
		<title>thiThe page is a write page</title>
	</th:block>
	
	<!-- layout:fragment에 이름을 지정해서 실제 Content페이지의 내용을 채우게 된다. 예를 들어 글쓰기 페이지는 write page로 게시글 리스트 페이지는 list page로 페이지마다 타이틀 다르게 처리할 때 동적처리가능 -->
	<th:block layout:fragment="content">
		<div class="card-content">
			<!-- method GET은 데이터의 조회, POST는 데이터의 생성 -->
			<form class="form-horizontal" th:action="@{/board/register.do}" th:object="${board}" method="POST" onsubmit="return registerBoard(this)">
				<!--  /* update의 경우 서버로 전달할 게시글 번호(PK) */ -->
				<input type="hidden" th:if="*{idx != null and idx >0}" th:field="*{idx}" />
				<div class="form-group">
					<label for="noticeYn" class="col-sm-2 control-label">공지글 설정</label>
					<div class="col-sm-10" style="margin-top:10px;">
						<input type="checkbox" th:value="*{noticeYn}" id="noticeYn" name="noticeYn" th:checked="*{#strings.equals(noticeYn, 'Y')}" />
					</div>
				</div>
				
				<div class = "form-group">
					<label for="secretYn" class="col-sm-2 control-label">비밀글 설정</label>
					<div class="col-sm-10" style="margin-top:10px;">
						<input type="checkbox" th:value="*{secretYn}" id="secretYn" name="secretYn" th:checked="*{#strings.equals(secretYn,'Y')}" />
					</div>
				</div>
				
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">제목</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력해 주세요." />
					</div>
				</div>
				
				<div class="form-group">
					<label for="writer" class="col-sm-2 control-label">이름</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{writer}" class="form-control" placeholder="이름을 입력해주세요." />
					</div>
				</div>
				<div class="form-group">
					<label for ="content" class="col-sm-2 control-label">내용</label>
					<div class="col-sm-10">
						<textarea th:field="*{content}" class="form-control" placeholder="내용을 입력해주세요."></textarea>
					</div>
				</div>				
				
				<div class="btn_wrap text-center">
					<a th:href="@{/board/list.do}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
					<button type="submit" class="btn btn-primary waves-effect waves-light">저장하기</button>
				</div>
			</form>
		</div>
		<!--  /. card-content -->
		</th:block>
		
		<th:block layout:fragment="script">
			<script th:inline="javascript">
				/*<![CDATA[*/
					
					function registerBoard(form) {
					
						form.noticeYn.value = form.noticeYn.checked == false ? 'N' : 'Y' ;
						form.secretYn.value = form.secretYn.checked == false ? 'N' : 'Y' ;
						
						var result = (
											isValid(form.title,"제목", null, null)
										&&  isValid(form.writer,"이름", null, null)
										&&  isValid(form.content,"내용", null, null)
						);
						if(result==false) {
							return false;
						}
				}
				/* [-end of function-] */
				/*]]> */
				
				
			</script>
		</th:block>
</html>


<!-- 폼의 onsubmit 이벤트에 해당 함수를 선언하면서 인자로 this를 전달하는데요, this는 자기 자신, 즉 폼 객체를 의미합니다. 자바스크립트 영역의 registerBoard 함수는 전달받은 this를 form이라는 이름의 파라미터로 사용합니다.

해당 함수의 전체 로직은 다음과 같습니다.

1. noticeYn과 secretYn의 체크 여부에 따라 값을 지정합니다.

2. result 변수에 isValid(유효성 검사) 함수를 실행한 결과를 저장합니다.

   isVlid 함수는 필수적으로 입력되어야 하는 필드의 유효성을 판단하는

   기능을 하며, 제목, 작성자, 내용은 없어서는 안 되는

   필수적인 데이터이기 때문에 유효성 검사가 필수적으로 진행되어야 합니다. -->
